<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nomina?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">andres</property>
    <mapping resource="pojos/PeriodoDevengado.hbm.xml"/>
    <mapping resource="pojos/Nomina.hbm.xml"/>
    <mapping resource="pojos/Arl.hbm.xml"/>
    <mapping resource="pojos/Pensiones.hbm.xml"/>
    <mapping resource="pojos/Vacaciones.hbm.xml"/>
    <mapping resource="pojos/Descuentos.hbm.xml"/>
    <mapping resource="pojos/SeguridadSocial.hbm.xml"/>
    <mapping resource="pojos/Empresa.hbm.xml"/>
    <mapping resource="pojos/Eps.hbm.xml"/>
    <mapping resource="pojos/Empleado.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
